$theme-alpha:#6BA78E;
$theme-beta:#790F6D;
$theme-gamma:#EF562E;
$theme-epsilon:#FBC830;

$colour-background-site:#fff;
$colour-background-panel:$theme-alpha;
$colour-background-option:#3B5C4E;
$colour-background-option-active:mix(#000, #3B5C4E, 30%);
$colour-border-panel:#fff;
$colour-label:#4E4E4E;

$colour-reveal-primary:$theme-beta;
$colour-font-default:#3E3E3E;

$padding-block:1rem;
$panel-max-width:240px;

$font_family:'Montserrat', 'Open Sans', 'Droid Sans', sans-serif;

@mixin off_left(){
  position:absolute;
  left:-999em;
  top:-999em;
}

@mixin hide_text(){
  text-indent:-999rem;
  display:inline-block;
  text-align:left;
  overflow:hidden;

}
