@font-face {
  font-family:'Open Sans';
  font-weight:300;
  font-style:normal;
  src: url('/fonts/opensans-light-2.woff2'),
       url('/fonts/opensans-light.woff');
}
@font-face {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  src: url('/fonts/opensans-bold-2.woff2'),
       url('/fonts/opensans-bold.woff');
}
