<% notes = locals[:notes] %>
<% if notes.count > 0 %>
<hr>
<ul class="reveal-notes">
  <% notes.each do |note| %>
  <li>
    <strong><%= note[:key] %></strong>
    <span><%= note[:value] %></span>
  </li>
  <% end %>
</ul>
<% end %>
