---
title: Static templates for various parts of the site
---
<div class="row">
  <ul>
    <li><a href="thread/">A thread of Q&As</a>
      <ul>
        <li><a href="question/">Question components</a></li>
        <li><a href="reveal/">Reveal components</a>
          <ul>
            <li><a href="truth-bombs/">Truth-bombs components</a></li>
            <li><a href="notes/">Notes components</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
