<ul class="reveal-notes">
  <li>
    <strong>Babyboomers think</strong>
    <span>you’re lazy, entitled and addicted to Pokemon Go</span>
  </li>
  <li>
    <strong>Generation-Y think</strong>
    <span>you’re the last generation to be able to buy your own home</span>
  </li>
</ul>
