---
title: Question component
---
<div class="panel panel-question">
  <div class="panel-body text-center">
    <div class="question question-single-choice">
      <h3>How old are you?</h3>
      <ul>
        <li><label><input type="radio" name="age_range" value="18-35"><span>18-35</span></label></li>
        <li><label><input type="radio" name="age_range" value="36-50"><span>36-50</span></label></li>
        <li><label><input type="radio" name="age_range" value="50-70"><span>50-70</span></label></li>
      </ul>
    </div>
  </div>
</div>
