---
title: Reveal component
---
<div class="panel panel-reveal">
  <div class="panel-body text-center">
    <h3>So you’re a Gen-X’er?</h3>
    <p class="image_container">
      <img src="//placehold.it/240x240" alt="">
    </p>
    <%= partial "templates/truth-bombs" %>
  </div>
</div>
