<div class="thread">
  <div class="thread-pair">
    <%= partial 'templates/question.html' %>
    <%= partial 'templates/reveal.html' %>
  </div>
  <div class="thread-pair">
    <%= partial 'templates/question.html' %>
    <%= partial 'templates/reveal.html' %>
  </div>
</div>
